<div class="post-list">
    <% page.posts.each(function (post) { %>
    <div class="post">
        <a class="post-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        <div class="post-except">
            <%- strip_html(post.content).substr(0, 240) %>
            <a class="read-more" href="<%- url_for(post.path) %>"> ... </a>
        </div>
        <div class="post-date"><%- date(post.date, "YYYY.MM.DD") %></div>
        <div style="opacity: 0.5;padding: 3px;color: #565757; font-style: italic;font-size: 0.2rem;" >
        <span> tags: <% post.tags.sort('name').each(function(item){ %>
			<%= item.name %>,
		<% }); %></span>
        </div>
    </div>
    <% }) %>
</div>
<%- partial('_partial/paginator') %>